*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 60px;
    background-color: black;
}

button{
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 180px;
    text-decoration: none;
}
.c101{
    height: 100px;
    width: 100px;
    border: 3px dotted black;
    display: inline-block;
}
#content{
    background-color: #a56c21;
    height: 550px;
}
#i101{
    background-color: rgba(255, 0, 0, 0.5);

}
#i102{
    background-color: rgba(0, 255, 0, 0.5);

}
#i103{
    background-color: rgba(0, 0, 255, 0.5);

}
#footer{
    background-color: black;
    border: 2px solid white;
}